# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Vim
*.swp

# Executables
mp4
test_suite

# CMake
CMakefiles
bin/Makefile
CMakeCache.txt
*.cmake
bin/bin
bin/test
bin/src

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
